<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Minimal Django File Upload Example</title>
    </head>
    <body>
        <form action="{% url 'list' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ form.non_field_errors }}</p>
            <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
            <p>
                {{ form.docfile.errors }}
                {{ form.docfile }}
            </p>
            <p>{{ sub_form.non_field_errors }}</p>
            <p>{{ sub_form.docfile1.label_tag }} {{ sub_form.docfile1.help_text }}</p>
            <p>
                {{ sub_form.docfile1.errors }}
                {{ sub_form.docfile1 }}
            </p>
            <p><input type="submit" value="Upload" /></p>
        </form>
    </body>
</html>